<div fxLayout="row wrap">
    <div fxFlex="20" class="ml-1"> <img src="../../../assets/agst logo.png" alt=""></div>
</div>

<div fxLayout="row" fxLayoutAlign="center center" class="mt-5">
    <div fxFlex="90" class="text-blue-600 mat-display-2 font-bold mt-8 text-center"><span class="text-red-600">APT</span> GRAND ONLINE SCHOLARSHIP
        TEST</div>


</div>

<div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutAlign.sm="center center"  fxLayoutAlign.xs="center center" class="my-8">

    <div fxFlex="30" fxFlex.xs="90" fxFlex.sm="90">
        <div class="text-center text-red-600 text-2xl mb-7" fxLayoutAlign="center center">AGST 20-21
        </div>
        <p class="text-center">m beatae aspernatur quam suscipit voluptate reiciendis ut quis esse fugiat. Repellendus,
            minus odio?</p>
        <p class="text-center">m beatae aspernatur quam suscipit voluptate reiciendis ut quis esse fugiat. Repellendus,
            minus odio?</p>
        <p class="text-center">m beatae aspernatur quam suscipit voluptate reiciendis ut quis esse fugiat. Repellendus,
            minus odio?</p>

        <div class="text-red-600 " class="text-center text-red-600 text-sm mb-7" fxLayoutAlign="center center">AGST 20-21
        </div>
        <p class="text-center">m beatae aspernatur quam suscipit voluptate Repellendus, minus odio?</p>
        <p class="text-center">m beatae aspernatur quam suscipit voluptate reiciendis ut qui</p>




    </div>
    <div fxFlex="40" fxFlex.lt-sm="90"  fxFlex.sm="90">
        <div class="text-blue-500 text-center text-2xl mb-7">Free Registration</div>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Full Name<sup class="text-red-600">*</sup></mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Country<sup class="text-red-600">*</sup></mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Contact no.<sup class="text-red-600">*</sup></mat-label>
            <input type="number" maxlength="10" matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email<sup class="text-red-600">*</sup></mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>City<sup class="text-red-600">*</sup></mat-label>
            <input matInput>
        </mat-form-field>
        <button class="w-full block bg-blue-700 py-2 rounded-sm"> submit</button>

    </div>


</div>


<div fxLayout="row" fxLayoutAlign="center center" class="mt-20">
    <div fxFlex="70">
        <div class="text-blue-500 mat-display-1 text-center font-bold">ONLY <span class="text-red-500">INSTITUTE</span>
            IN BHOPAL TO
            GIVE <span class="text-red-500">AIRS</span> AT <span class="text-red-500">EXECUTIVE</span> LEVEL</div>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="30"  fxLayoutAlign="center center" fxLayout="column" *ngFor="let x of [1,2,3]">
        <img src="../../../assets/image.png" class="w-56 rounded-full border-8 border-blue-500" alt="">
        <div class=" text-2xl text-center font-extrabold  ">someone</div>
    </div>



</div>
<!-- Features -->
<div class="features my-16">
    <div fxLayout="row" fxLayoutAlign="center center" class="text-sky-800 text-5xl">FEATURES</div>


    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxFlex="30" fxFlex.xs="90" fxFlex.sm="90" fxLayout="row" fxLayoutAlign="center center" class="shadow m-1" *ngFor="let x of features">
            <div class="logo" fxLayout="row" fxlayoutAlign="center center">
                <div>logo</div>
            </div>
            <div class="">
                <div class="text-red-600 text-2xl text-center m-1">{{x.title}}</div>
                <p class="text-xl m-1">{{x.desc}}</p>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="my-10">
        <div fxFlex="40">
            <button class="w-full p-2 m-2 bg-sky-800 rounded-md">REGISTER NOW</button>
        </div>
    </div>
</div>




<!-- cs foundation -->


<div fxLayout="row" fxLayoutAlign="center center" class="my-7">
    <div fxFlex="70">
        <div class="text-blue-500 mat-display-2 text-center font-bold">CS FOUNDATION <span class="text-red-500">DEC 2019
                RESULTS</span>
        </div>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="">
    <div fxFlex="25" fxFlex.lt-md="50" *ngFor="let x of [1,2,3,4,5,6,7,8]" fxLayout="column"
        fxLayoutAlign="center center" class="text-center">
        <img src="../../../assets/image.png" class="w-56 rounded-full border-8 border-blue-500" alt="">
        <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
    </div>

</div>

<!-- Faculaty team -->

<div class="py-5 text-center text-red-600 text-4xl font-bold my-16">
    STRONGEST FACULITY TEAM <span class="text-blue-600">IN CENTER INDIA</span>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="25" fxLayout="row" fxLayoutAlign="center center" fxFlex.lt-md="50" *ngFor="let x of [1,2,3,4,5,6,7,8]">
        <img src="../../../assets/teachers.png" class="w-4/5" alt="">
    </div>
</div>

<!-- Online support......................................... -->
<div class="OnlineSupport my-16">
    <div fxLayout="row" fxLayoutAlign="center center" class="text-sky-800 text-5xl">ONLINE SUPPORT</div>


    <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="my-7">
        <div fxFlex="30" fxFlex.lt-md="50" fxLayout="row" fxLayoutAlign="center center" class="shadow m-1"
            *ngFor="let x of OnlineSupport">
            <div class="logo" fxLayout="row" fxlayoutAlign="center center">
                <div>logo</div>
            </div>
            <div class="">
                <div class="text-red-600 text-2xl text-center m-1">{{x.title}}</div>
                <p class="text-xl m-1">{{x.desc}}</p>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="my-16">
        <div fxFlex="40">
            <button class="w-full p-2 m-2 bg-sky-800 rounded-md">REGISTER NOW</button>
        </div>
    </div>
</div>

<div class="usp my-7">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="60" fxFlex.xs="90" fxFlex.sm="90" class="text-center text-2xl" fxLayout="column" fxLayoutAlign="space-around space-around">
            <div class="text-center text-red-500"> USP (Unique Selling Point)</div>

            <P>sicing elit. Omnis maxime officia rem, adipisci officiis per</P>
            <P>sicing elit. Omnis maxime officia rem, adipisci officiis per</P>
            <P>sicing elit. Omnis maxime officia rem, adipisci officiis per</P>
            <P>sicing elit. Omnis maxime officia rem, adipisci officiis per</P>


        </div>
        <div fxFlex="40" fxFlex.xs="90" fxFlex.sm="90">
            <img src="../../../assets/graphimg.png" class="w-full" alt="">
        </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="my-16">
        <div fxFlex="40">
            <button class="w-full p-2 m-2 bg-sky-800 rounded-md">REGISTER NOW</button>
        </div>
    </div>
</div>

<div class="topperSpeak" class="my-7">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxFlex="30" fxFlex.xs="90" fxFlex.sm="90" fxLayoutAlign="center center" fxLayout="column" *ngFor="let x of [1,2,3]">
            <img src="../../../assets/img3.png" alt="" class="w-4/5">
            <p class="text-center text-gray-800"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                voluptatum saepe unde, fuga, recusandae, odio adipisci consequuntur ab optio repellendus corporis
                praesentium! Officiis, porro? Ratione labore repudiandae omnis architecto at!</p>
            <p class="mt-6 text-center">Avni Mishra 1st level 1</p>
        </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="center center" class="my-7">
        <p class="text-center text-4xl">ENSURE YOUR AIR <br> <br> IN CA FOUNDATION MAY'20 ATTEMPT</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="40" class="my-7">
            <button class="w-full p-2 m-2 bg-sky-800 rounded-md">REGISTER NOW</button>
        </div>
    </div>
</div>

<div class="p-3 text-center bg-black text-white">
    &copy; Copyright APT. Handcrafted By Eulogik
</div>