<div fxLayout="row">
    <div class="sub-section-1">some thing</div>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center center">
    <div class="text-blue-600 text-3xl"><span class="text-red-600">APT</span> GRAND ONLINE SCHOLARSHIP TEST</div>
    
    
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="50px">
    
    <div fxFlex="30">
    <h3 class="text-red-600 " class="text-center text-red-600 text-sm" fxLayoutAlign="center center">AGST 20-21</h3>
    <p  class="text-center">m beatae aspernatur quam suscipit voluptate reiciendis ut quis esse fugiat. Repellendus, minus odio?</p>
    <p  class="text-center">m beatae aspernatur quam suscipit voluptate reiciendis ut quis esse fugiat. Repellendus, minus odio?</p>
    <p  class="text-center">m beatae aspernatur quam suscipit voluptate reiciendis ut quis esse fugiat. Repellendus, minus odio?</p>
    
    <h3 class="text-red-600 " class="text-center text-red-600 text-sm" fxLayoutAlign="center center">AGST 20-21</h3>
    <p  class="text-center">m beatae aspernatur quam suscipit voluptate Repellendus, minus odio?</p>
    <p  class="text-center">m beatae aspernatur quam suscipit voluptate reiciendis ut qui</p>
    
    
         
    
    </div>
    <div fxFlex="20" >
    <h3 class="text-blue-500 text-center">Free Registration</h3>
    <mat-form-field appearance="fill"  class="w-full">
    <mat-label>Full Name<sup class="text-red-600">*</sup></mat-label>
    <input matInput >
     </mat-form-field>
     <mat-form-field appearance="fill"  class="w-full">
    <mat-label>Country<sup class="text-red-600">*</sup></mat-label>
    <input matInput >
     </mat-form-field>
     <mat-form-field appearance="fill"  class="w-full">
    <mat-label>Contact no.<sup class="text-red-600">*</sup></mat-label>
    <input matInput >
     </mat-form-field>
     <mat-form-field appearance="fill"  class="w-full">
    <mat-label>Email<sup class="text-red-600">*</sup></mat-label>
    <input matInput >
     </mat-form-field>
     <mat-form-field appearance="fill"  class="w-full">    
    <mat-label>City<sup class="text-red-600">*</sup></mat-label>
    <input matInput >
     </mat-form-field>
     <button class="w-full block bg-blue-700 py-2 rounded-sm"> submit</button>
     
    </div>
    
    
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50">
    <div class="text-blue-500 text-4xl text-center">ONLY <span class="text-red-500">INSTITUTE</span> IN BHOPAL TO GIVE <span class="text-red-500">AIRS</span> AT <span class="text-red-500">EXECUTIVE</span> LEVEL</div>
    </div>
</div>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt=""> 
        <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
        </div>
        <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt="">
            <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>

        </div>
        <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt="">
            <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>

        </div>
       

    </div>
    

    <!-- cs foundation -->


    <div fxLayout="row" fxLayoutAlign="center center" >
        <div fxFlex="50">
        <div class="text-blue-500 text-4xl text-center">CS FOUNDATION <span class="text-red-500">DEC 2019 RESULTS</span> </div>
        </div>
    </div>
    
        <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="5">
            <div fxFlex="20" class="p-5"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt=""> 
            <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
            </div>
            <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt="">
                <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
    
            </div>
            <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt="">
                <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
    
            </div>
            <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt="">
                <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
    
            </div>
            <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt="">
                <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
    
            </div>
            <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt="">
                <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
    
            </div>
            <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt="">
                <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
    
            </div>
            <div fxFlex="20"> <img src="../../../assets/image.jpeg" class="max-w-full rounded-full border-8 border-blue-500" alt="">
                <div class=" text-2xl text-center font-extrabold  ">Asim shiekh</div>
    
            </div>
           
    
        </div>